{% extends 'layout.html' %}
{% block body %}

<!-- table with invoices -->
    <div class="container">
        <table class="table table-striped">
            <label>Invoices</label>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Customer name/ID</th>
                <th scope="col">Products IDs</th>
                <th scope="col">Net value</th>
                <th scope="col">Payment day</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
         {% for invoice in invoices %}
        <tr>
        <td>{{invoice.invoices_id}}</td>
        <td>{{invoice.date.date()}}</td>
        <td>{{invoice.customer.name}}/ {{invoice.customer_id}}</td>
        <td>{% for product in invoice.invoicing %}
            {{product.products_id}}
            {% endfor %}
        </td>
        <td>{{invoice.net}}</td>
        <td>{{invoice.payment_date.date()}}</td>
        <td>
            <form method="POST">
            <input type="hidden" name="selected_invoice" value="{{invoice.invoices_id}}" />    
            <button type="button" class="btn btn-outline-primary">Select</button>
            </form>
        </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>



<!-- Modal -->
{% if new_invoice %}
<!-- Button trigger modal -->
<div class="container">
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalLong">
              Show Invoice
            </button>
        </div>
        </div>
</div>
<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Invoice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">Stock Manager Sp. z o.o.<br>gen. Tadeusza Kutrzeby 10<br>61-719 Poznań<br>NIP: 123-456-00-00</div>
      <div class="col-md-4 ml-auto">Poznań, {{new_invoice.date.date()}}</div>
    </div>
      <div class="row">
          <div class="col">
              <br> <!--Pusty wiersz -->
          </div>
      </div>
    <div class="row">
      <div class="col-md-3 ml-auto"><b>Invoice</b><br>{{new_invoice.invoices_id}}/{{new_invoice.date.year}}</div>
      <div class="col-md-3 ml-auto">{{new_invoice.customer.name}}<br>{{new_invoice.customer.adress}}<br>{{new_invoice.customer.nip}}<br>ID: {{new_invoice.customer.customers_id}}</div>
    </div>
      <div class="row">
          <div class="col">
              <br> <!--Pusty wiersz -->
          </div>
      </div>
    <div class="row">
      <div class="col-md-6 ml-auto">Payment day: {{payment_day.date()}}<br>Account no 111222333444555</div>
    </div>
      <div class="row">
          <div class="col">
              <br> <!--Pusty wiersz -->
          </div>
      </div>

      <!--Table with items in modal -->
    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Unit Cost</th>
              <th scope="col">Qty</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
          {% for item in new_invoice.quantities %}
            <tr>
              <td>{{item.product.name}} / Product code: {{item.product.products_id}}</td>
              <td>{{item.product.price}}</td>
              <td>{{item.order_quantity}}</td>
              <td>{{item.total_price}}</td>
            </tr>
          {% endfor %}
            <tr>
              <th class="text-right" scope="row" colspan="3">Subtotal</th>
              <td>{{new_invoice.net}} PLN</td>
            </tr>
            <tr>
              <th class="text-right" scope="row" colspan="3">Tax</th>
              <td>{{new_invoice.tax}} PLN</td>
            </tr>
            <tr>
              <th class="text-right" scope="row" colspan="3">Total</th>
                <td><u>{{new_invoice.sum}} PLN</u></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}